In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
movies = pd.read_csv(r"C:\Users\Nicolas\Downloads\Movie dataset\Movie dataset\movies.csv",nrows=5)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  5 non-null      bool
 1   belongs_to_collection  3 non-null      object
 2   budget                 5 non-null      int64
 3   genres                 5 non-null      object
 4   homepage               1 non-null      object
 5   id                     5 non-null      int64
 6   imdb_id                5 non-null      object
 7   original_language      5 non-null      object
 8   original_title         5 non-null      object
 9   overview               5 non-null      object
 10  popularity             5 non-null      float64
 11  poster_path            5 non-null      object
 12  production_companies   5 non-null      object
 13  production_countries   5 non-null      object
 14  release_date           5 non-null      object
 15  revenue                5 non-null      float64
 16  runtime                5 non-null      float64
 17  spoken_languages       5 non-null      object
 18  status                 5 non-null      object
 19  tagline                4 non-null      object
 20  title                  5 non-null      object
 21  video                  5 non-null      bool
 22  vote_average           5 non-null      float64
 23  vote_count             5 non-null      float64
dtypes: bool(2), float64(5), int64(2), object(15)
memory usage: 1018.0+ bytes

In [3]:
movies = pd.read_csv(r"C:\Users\Nicolas\Downloads\Movie dataset\Movie dataset\movies.csv",usecols=['title','budget','revenue','overview','original_language','spoken_languages'])
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45466 non-null  object
 1   original_language  45455 non-null  object
 2   overview           44512 non-null  object
 3   revenue            45460 non-null  float64
 4   spoken_languages   45460 non-null  object
 5   title              45460 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.1+ MB

In [4]:
movies[movies['revenue']<=0]

,budget,original_language,overview,revenue,spoken_languages,title
2,0,en,A family wedding reignites the ancient feud be...,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men
6,58000000,en,An ugly duckling having undergone a remarkable...,0.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Sabrina
7,0,en,"A mischievous young boy, Tom Sawyer, witnesses...",0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Tom and Huck
11,0,en,When a lawyer shows up at the vampire's doorst...,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Dracula: Dead and Loving It
21,0,en,An agoraphobic psychologist and a female detec...,0.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Copycat
...,...,...,...,...,...,...
45461,0,fa,Rising and falling between a man and woman.,0.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Subdue
45462,0,tl,An artist struggles to finish his work while a...,0.0,"[{'iso_639_1': 'tl', 'name': ''}]",Century of Birthing
45463,0,en,"When one of her hits goes wrong, a professiona...",0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Betrayal
45464,0,en,"In a small town live two brothers, one a minis...",0.0,[],Satan Triumphant
45465,0,en,50 years after decriminalisation of homosexual...,0.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Queerama

In [5]:
movies['budget']=pd.to_numeric(movies['budget'],errors='coerce')
movies.dropna(inplace=True)

In [6]:
movies['budget'].describe()

count    4.449600e+04
mean     4.312099e+06
std      1.760070e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [7]:
movies = movies[(movies['budget']>0) & (movies['revenue']>0)]

In [8]:
movies['roi']= (movies['revenue']-movies['budget'])/movies['budget']

In [9]:
movies = movies[(movies['roi']<=10) & (movies['roi']>=-10)]

In [10]:
movies.original_language.unique()

array(['en', 'fr', 'cn', 'ru', 'es', 'zh', 'it', 'de', 'ja', 'fa', 'pt',
       'xx', 'da', 'ko', 'hi', 'pl', 'af', 'fi', 'th', 'nl', 'ro', 'vi',
       'bm', 'he', 'sv', 'no', 'ta', 'nb', 'ca', 'id', 'tr', 'ml', 'hu',
       'kn', 'is', 'te', 'mr', 'ur', 'sr'], dtype=object)

In [11]:
from nltk.corpus import stopwords

In [12]:
from nltk import word_tokenize
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords') #Capaz antes de usar nltk les pide que descarguen estas cositas
import re

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Nicolas\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Nicolas\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Nicolas\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [13]:
def filtrarStepword(x):
    stopwordsIng = set(stopwords.words('english'))
    textoSinStopwords = ""
    x = x.casefold()
    x = re.sub(r'[^a-z0-9A-Z_]',' ',x) #Quito la puntuacion
    oracion = x.split()
    for palabra in oracion:
        if palabra not in stopwordsIng:
            textoSinStopwords = textoSinStopwords + " " + palabra
    return textoSinStopwords
movies.overview = movies.overview.map(filtrarStepword)
movies.reset_index(inplace=True)

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words=['english'])

In [15]:
count_matrix =cv.fit_transform(movies.overview)
count_array = count_matrix.toarray()
df = pd.DataFrame(data=count_array,columns = cv.get_feature_names_out())

In [16]:
lista=[]
for column in df.columns:
    if (df[column].sum()>5):
       lista.append(column)
df = df[lista]

In [17]:
movies = pd.concat([movies['roi'],df],axis=1)

In [19]:
top = movies[movies.columns.difference(['roi'])].multiply(movies.roi,axis="index")

In [20]:
top.sum().sort_values(ascending=False).head(10)

life      1374.147470
new       1199.657014
one       1150.913550
world     1026.505526
young      947.931275
family     912.416356
man        870.443058
two        831.391047
find       791.461954
must       774.579235
dtype: float64