In [12]:
import pandas as pd
import numpy as np
import seaborn as sns

In [13]:
actores = pd.read_csv(r"C:\Users\Nicolas\Downloads\Movie dataset\Movie dataset\imdb_actors.csv")

In [14]:
actores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4355026 entries, 0 to 4355025
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 199.4+ MB

In [15]:
listaProf = actores.primaryProfession.unique()

In [16]:
for prof in listaProf:
    if ("actor" not in prof) and ("actress" not in prof):
        print(prof)

In [18]:
actores = actores.groupby("deathYear").agg(cantidad=("primaryName","count"))

In [19]:
actores

           cantidad
deathYear
1569              1
1610              1
1778              1
1824              1
1828              1
...             ...
2019           2652
2020           3318
2021           3409
2022           1844
\N          4239744

[136 rows x 1 columns]

In [20]:
actores = actores.drop([r"\N"])

In [21]:
actores = actores.reset_index()
actores["deathYear"] = pd.to_numeric(actores["deathYear"])

In [27]:
actores.loc[actores.cantidad.idxmax()]

deathYear    2021
cantidad     3409
Name: 133, dtype: int64

In [26]:
actores.sort_values(by=['cantidad'],axis=0,ascending=False).head(5)

     deathYear  cantidad
133       2021      3409
132       2020      3318
130       2018      2723
128       2016      2694
129       2017      2690