In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import plotly.express as px

In [2]:
jugadores = pd.read_csv(r"C:\Users\Nicolas\Downloads\tenis\Player.csv")
jugadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53666 entries, 0 to 53665
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  53666 non-null  object
 1   name       53666 non-null  object
 2   hand       48022 non-null  object
 3   country    53666 non-null  object
 4   birthday   43017 non-null  object
dtypes: object(5)
memory usage: 2.0+ MB

In [3]:
estadisticas = pd.read_csv(r"C:\Users\Nicolas\Downloads\tenis\Stats.csv")
estadisticas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20240 entries, 0 to 20239
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   match_id              20240 non-null  object
 1   player_id             20240 non-null  object
 2   pts                   14398 non-null  float64
 3   rank                  20230 non-null  float64
 4   winner                20240 non-null  bool
 5   sets                  20236 non-null  float64
 6   1                     20236 non-null  float64
 7   2                     20107 non-null  float64
 8   3                     19818 non-null  float64
 9   4                     9898 non-null   float64
 10  5                     3724 non-null   float64
 11  avg_odds              9852 non-null   float64
 12  max_odds              9852 non-null   float64
 13  total_pts             20234 non-null  float64
 14  service_pts           20234 non-null  float64
 15  return_pts            20234 non-null  float64
 16  aces                  20234 non-null  float64
 17  bp_saved              20234 non-null  float64
 18  bp_faced              20234 non-null  float64
 19  first_serve_rtn_won   20234 non-null  float64
 20  second_serve_rtn_won  20234 non-null  float64
 21  first_serve_in        20234 non-null  float64
 22  dbl_faults            20234 non-null  float64
 23  first_serve_per       20233 non-null  float64
dtypes: bool(1), float64(21), object(2)
memory usage: 3.6+ MB

In [4]:
partidos = pd.read_csv(r"C:\Users\Nicolas\Downloads\tenis\Match.csv")
partidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10160 entries, 0 to 10159
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match_id           10160 non-null  object
 1   round              10160 non-null  object
 2   date               10160 non-null  object
 3   avg_minutes_game   10114 non-null  float64
 4   avg_seconds_point  10115 non-null  float64
 5   avg_minutes_set    10078 non-null  float64
 6   tournament         10160 non-null  object
 7   year               10160 non-null  int64
 8   match_minutes      10117 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 714.5+ KB

In [5]:
partidos.set_index('match_id',inplace=True)

In [6]:
jugadores = jugadores[jugadores['country']=='ARG']

In [7]:
jugadores.set_index('player_id',inplace=True)
estadisticas.set_index('player_id',inplace=True)

In [8]:
jugadoresArg = jugadores.join(estadisticas,how='inner',on='player_id')

In [9]:
jugadoresArg.reset_index().set_index('match_id',inplace=True)
jugadoresArg = jugadoresArg.join(partidos,how='inner',on='match_id')

In [10]:
jugadoresArg

,name,hand,country,birthday,match_id,pts,rank,winner,sets,1,...,dbl_faults,first_serve_per,round,date,avg_minutes_game,avg_seconds_point,avg_minutes_set,tournament,year,match_minutes
player_id,,,,,,,,,,,,,,,,,,,,,
atp_101675,Martin Rodriguez,R,ARG,1969-12-18,m_2000_A_49,NaN,119.0,False,0.0,4.0,...,4.0,0.490196,1st Round,2000-01-17,3.78,37.0,40.3,Australian Open,2000,121.0
atp_101675,Martin Rodriguez,R,ARG,1969-12-18,m_2000_F_55,NaN,111.0,False,2.0,6.0,...,6.0,0.535948,1st Round,2000-05-29,4.50,43.0,41.4,French Open,2000,207.0
atp_102024,Hernan Gumy,R,ARG,1972-03-05,m_2000_F_26,NaN,93.0,True,3.0,7.0,...,8.0,0.692308,1st Round,2000-05-29,4.52,39.7,43.4,French Open,2000,217.0
atp_102024,Hernan Gumy,R,ARG,1972-03-05,m_2000_U_25,NaN,96.0,True,3.0,4.0,...,4.0,0.621622,1st Round,2000-08-28,4.52,39.3,49.8,US Open,2000,199.0
atp_102024,Hernan Gumy,R,ARG,1972-03-05,m_2000_A_20,NaN,63.0,False,0.0,6.0,...,5.0,0.565217,1st Round,2000-01-17,4.04,35.8,35.0,Australian Open,2000,105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
atp_106228,Juan Ignacio Londero,R,ARG,1993-08-15,m_2019_F_100,695.0,78.0,True,3.0,2.0,...,6.0,0.540881,3rd Round,2019-05-31,4.24,41.1,41.6,French Open,2019,208.0
atp_106228,Juan Ignacio Londero,R,ARG,1993-08-15,m_2019_U_16,970.0,56.0,True,3.0,3.0,...,9.0,0.578947,1st Round,2019-08-26,3.60,36.9,36.0,US Open,2019,144.0
atp_106228,Juan Ignacio Londero,R,ARG,1993-08-15,m_2019_F_114,695.0,78.0,False,0.0,2.0,...,2.0,0.573171,4th Round,2019-02-06,5.12,50.5,44.3,French Open,2019,133.0
atp_106228,Juan Ignacio Londero,R,ARG,1993-08-15,m_2019_U_67,970.0,56.0,False,0.0,4.0,...,5.0,0.621359,2nd Round,2019-08-29,4.66,43.8,45.0,US Open,2019,135.0
atp_106228,Juan Ignacio Londero,R,ARG,1993-08-15,m_2019_W_23,870.0,60.0,False,1.0,6.0,...,5.0,0.689394,1st Round,2019-01-07,4.00,36.3,42.0,Wimbledon,2019,168.0

In [11]:
jugadoresTop10 = jugadoresArg.groupby(['name']).agg({'rank':'min'})

In [12]:
jugadoresTop10 = jugadoresTop10.sort_values(by='rank').head(10)

In [13]:
jugadoresTop10.rename(columns={'rank':'Mejor ranking'},inplace=True)

In [14]:
jugadoresTop10

                             Mejor ranking
name
Juan Martin Del Potro                  3.0
David Nalbandian                       3.0
Guillermo Coria                        3.0
Gaston Gaudio                          6.0
Guillermo Canas                       10.0
Mariano Puerta                        10.0
Diego Sebastian Schwartzman           11.0
Juan Monaco                           11.0
Franco Squillari                      13.0
Juan Ignacio Chela                    17.0

In [15]:
jugadoresTop10Arg = jugadoresArg.set_index('name').join(jugadoresTop10,how='inner',on='name')

In [16]:
jugadoresTop10Arg.groupby(['name','tournament']).agg({'match_minutes':'mean'})

                                             match_minutes
name                        tournament
David Nalbandian            Australian Open     159.416667
                            French Open         158.178571
                            US Open             165.290323
                            Wimbledon           140.148148
Diego Sebastian Schwartzman Australian Open     170.545455
                            French Open         163.600000
                            US Open             128.823529
                            Wimbledon           123.000000
Franco Squillari            Australian Open     138.000000
                            French Open         145.615385
                            US Open             101.000000
                            Wimbledon           129.000000
Gaston Gaudio               Australian Open     158.250000
                            French Open         165.259259
                            US Open             136.833333
                            Wimbledon           125.285714
Guillermo Canas             Australian Open     148.611111
                            French Open         181.809524
                            US Open             152.250000
                            Wimbledon           160.357143
Guillermo Coria             Australian Open     150.500000
                            French Open         141.375000
                            US Open             136.500000
                            Wimbledon           150.000000
Juan Ignacio Chela          Australian Open     145.880000
                            French Open         161.222222
                            US Open             142.173913
                            Wimbledon           150.000000
Juan Martin Del Potro       Australian Open     161.035714
                            French Open         156.129032
                            US Open             161.477273
                            Wimbledon           151.266667
Juan Monaco                 Australian Open     163.411765
                            French Open         156.692308
                            US Open             150.555556
                            Wimbledon           125.285714
Mariano Puerta              Australian Open      94.500000
                            French Open         142.062500
                            US Open             148.250000
                            Wimbledon            83.333333

In [17]:
torneosATPPorJugador = jugadoresTop10Arg.groupby(['name','winner','tournament']).agg({'winner':'count'}).rename(columns={'winner':'Partidos ganados'}).reset_index()

In [18]:
torneosATPPorJugador

                name  winner       tournament  Partidos ganados
0   David Nalbandian   False  Australian Open                10
1   David Nalbandian   False      French Open                 8
2   David Nalbandian   False          US Open                10
3   David Nalbandian   False        Wimbledon                 8
4   David Nalbandian    True  Australian Open                26
..               ...     ...              ...               ...
72    Mariano Puerta   False      French Open                 5
73    Mariano Puerta   False          US Open                 3
74    Mariano Puerta   False        Wimbledon                 3
75    Mariano Puerta    True      French Open                11
76    Mariano Puerta    True          US Open                 1

[77 rows x 4 columns]

In [19]:
partidosATP = jugadoresTop10Arg.groupby(['name','winner','tournament']).agg({'winner':'count'}).rename(columns={'winner':'Partidos ganados'}).reset_index()

In [20]:
totalPartidosPorJugador = partidosATP.groupby('name').agg({'Partidos ganados':'sum'}).reset_index()
totalPartidosPorJugador.rename(columns={'name':'Nombre'},inplace=True)

In [21]:
lista=[]
def borrarRepetidos(x):
    if x in lista:
        return None
    lista.append(x)
    return x
partidosATP = partidosATP[partidosATP['winner']==True].sort_values(by='Partidos ganados',ascending=False).drop(columns='winner')
partidosATP['name'] = partidosATP['name'].map(borrarRepetidos)

In [22]:
partidosATP.dropna(inplace=True)
partidosATP = partidosATP.set_index('name').join(jugadoresTop10).reset_index()

In [23]:
partidosATP.rename(columns={'name':'Nombre','tournament':'Torneo con mas partidos ganados','Partido ganados':'Partidos ganados en su mejor torneo'},inplace=True)

In [24]:
partidosATP.set_index('Nombre')

,Torneo con mas partidos ganados,Partidos ganados,Mejor ranking
Nombre,,,
Juan Martin Del Potro,US Open,35,3.0
David Nalbandian,Australian Open,26,3.0
Gaston Gaudio,French Open,19,6.0
Guillermo Coria,French Open,17,3.0
Juan Ignacio Chela,French Open,15,17.0
Guillermo Canas,French Open,14,10.0
Juan Monaco,French Open,13,11.0
Diego Sebastian Schwartzman,US Open,11,11.0
Mariano Puerta,French Open,11,10.0
Franco Squillari,French Open,9,13.0

In [25]:
totalPartidosPorJugador.rename(columns={'Partidos ganados':'Total partidos ganados'},inplace=True)

In [26]:
partidosATP.set_index('Nombre').join(totalPartidosPorJugador.set_index('Nombre'),on='Nombre',how='inner')

,Torneo con mas partidos ganados,Partidos ganados,Mejor ranking,Total partidos ganados
Nombre,,,,
Juan Martin Del Potro,US Open,35,3.0,133
David Nalbandian,Australian Open,26,3.0,122
Gaston Gaudio,French Open,19,6.0,62
Guillermo Coria,French Open,17,3.0,60
Juan Ignacio Chela,French Open,15,17.0,88
Guillermo Canas,French Open,14,10.0,61
Juan Monaco,French Open,13,11.0,75
Diego Sebastian Schwartzman,US Open,11,11.0,51
Mariano Puerta,French Open,11,10.0,25
Franco Squillari,French Open,9,13.0,27